<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="RUSSELL_LAPTOPSQLEXPRESSHarmonySite" connectionString="XpoProvider=MSSqlServer;data source=RUSSELL_LAPTOP\SQLEXPRESS;integrated security=SSPI;initial catalog=HarmonySite;Encrypt=False;TrustServerCertificate=False" />
    </connectionStrings>
</configuration>